<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <!-- NOTE that after automapping with IDEA property username and password will delete -->
        <!--and will be:  Initial SessionFactory failedorg.hibernate.service.spi.ServiceException: Unable to create requested service-->
        <property name="connection.username">system</property>
        <property name="connection.password">crea1323tive</property>
        <!-- NOTE that after automapping with IDEA property username and password will delete -->
        <mapping class="code.entities.TestBookEntity"/>
        <mapping class="code.entities.TestCatalogEntity"/>
        <mapping class="code.entities.TestStudentEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
        <mapping resource="TestBookEntity.hbm.xml" />
    </session-factory>
</hibernate-configuration>